<div id="hs" class="modal"  >
  <div class="modal-header">
    <a ng-click="close()" class="close" data-dismiss="modal" aria-hidden="false">x</a>
    <h3>Inverty - about</h3>
  </div>
  <div class="modal-body">
	<div class="instructions">
		<h4>How to play. </h4>
        <p>The game consist of these two main components the "solution" area (right) and the "problem" area (left).
            the goal is to make the problem area look like the solution area by clicking on the panels in the problem area.</p>
        <p class="span3.5">
            <i>Feel free to try how it works on this panel here.</i>
            <inty-board wrapper-class="span3" grid="grid" on-click="invert"></inty-board><br>
        </p><br><br>
        <p>When you hover over a problem panel you can see a yellow highlight. This highlight shows what area will be effected by your click. when you click the white panels will be black and the black white in det highlighted area.</p>
        <p>In the upper left corner there are some icons. This is the status bar. this shows you your progress, and how many steps you can use to complete the problem.</p>
	</div>
  </div>
  <div class="clearfix"></div>
  <div class="modal-footer">
    <a href="#" class="btn">Close</a>
  </div>
</div>